body:before { height:51px; display: block; width:100%; background: #f1f518; /* Old browsers */
background: #C8D4DF;
background: #C8D4DF; 
background: #C8D4DF;
 /* IE6-9 */
    
}
.vertical-align { margin-top:130px; }

.animation { position: relative; }
.animation-gif { position: absolute; top:16%; right:21.70%;}

.login-container { background: #FFFFFF; border:1px solid #e6e6e6; margin-top: 30px; padding:30px; box-sizing: border-box;}
.login-container:nth-child(2) { margin-top: 20px;}


.logolink { float: none; margin:0 auto 15px; text-align: center; display:block;}
.description-page {margin-bottom: 30px;}

.bg-danger p:not(:empty) { padding:10px;}

.bg-success p:not(:empty) { padding:10px;}

.btn { text-align: center; width: 100%;}

@media (max-width: 1024px) {
    .animation img:first-child { right:13.6%; width:53%; }
    .vertical-align { margin-top:35px; }
}